@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Inter", sans-serif;
  height: 100%;
  display: flex;
  position: relative;
}
